@use '../common/scss/variables' as *;
@use '../common/scss/breakpoints' as *;

@use 'base';
@use 'header';
@use 'reasons';
@use 'footer';
@use 'stats-header';
@use 'crumbs';
@use 'stats-table';
@use 'loader';
@use 'pagination';
@use 'stats-footer';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: $regular-weight;
  font-size: 16px;
  color: $white-color;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
