.hero-wrapper {
  width: 100%;
  min-height: 655px;
  background-image: url('/images/header-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
