@use './variables.scss' as *;
@use './breakpoints.scss' as *;

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: $white-color;
  position: relative;
}

.stats {
  margin-inline: auto;
  width: 100%;
  padding: 0 10px 24px 10px;
  flex: 1;

  @include desktop {
    padding-inline: 0;
    margin-inline: auto;
    max-width: 1180.5px;
    background-color: $white-color;
    font-family: 'Montserrat', sans-serif;
  }

  &__crumbs {
    max-width: 1180.5px;
    height: 19px;
    margin: 17px auto 26px auto;
  }

  &__title {
    margin-inline: auto;
    max-width: 1180.5px;
    font-size: 32px;
    font-weight: 700;
    color: #111111;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.hidden {
  display: none !important;
}

.crumbs {
  display: flex;
  align-items: center;
  gap: 0px;
  height: 19px;
  font-size: 16px;

  &__link {
    line-height: 19px;
    color: #cccccc;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #3a80ba;
      text-decoration: underline;
    }
  }

  &__sep {
    margin: -2px 7px 0 6px;
    font-size: 24px;
    line-height: 19px;
    color: #cccccc;
    user-select: none;
  }

  &__current {
    line-height: 19px;
    color: #3a80ba;
    font-weight: 400;
  }
}

#linear-progress {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  overflow: hidden;

  .bar {
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    animation: loading 1.5s infinite linear;
    transform-origin: 0% 50%;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%) scaleX(1);
  }

  50% {
    transform: translateX(0%) scaleX(0.5);
  }

  100% {
    transform: translateX(100%) scaleX(1);
  }
}
