@use '@/common/scss/variables.scss' as *;
@use '@/common/scss/breakpoints.scss' as *;

.header {
  width: 100%;
  background: transparent;

  &--bg {
    display: flex;
    align-items: center;
    min-height: 72px;
    background-color: $color-blue;
  }

  &__container {
    margin-inline: auto;
    width: 100%;

    @include desktop {
      max-width: 1440px;
    }
  }

  &__bottom {
    @include tablet {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
    }
  }

  &--size {
    margin: 10px 0px 13px 15px;
    font-size: 40px;
    color: $white-color;

    @include desktop {
      margin: 0;
      padding: 10px 0px 13px 130px;
    }
  }

  &__logo {
    margin: 12px 0 24px 30px;
    font-size: 20px;
    line-height: normal;

    @include tablet {
      margin: 18px 0 36px 0;
      font-size: 30px;
    }

    @include desktop {
      margin: 24px 0 49px 130px;
      font-size: 40px;
    }
  }
}
